#content-frame {
    position: absolute;
    top: 90px;
    left: 230px;
    height: calc(100% - 90px);
    width: calc(100% - 230px);
    background-color: #d1d1d1;
}

#text-frame{
    padding: 100px 100px;
}

a:focus{
    outline: none;
}